.Slider {
    margin-left: 100px;
    margin-right: 100px;
    height: 500px;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
    border: 2px solid white;
    animation: cambioColores 5s ease infinite alternate; 
    width: 87%;
    
  }
  
  @keyframes cambioColores {
    0% {
      box-shadow: 0 0 10px #ff00ff; /* Inicia con sombreado rosa neón */
    }
    50% {
      box-shadow: 0 0 10px #00ffff; /* Cambia a sombreado cian neón a la mitad */
    }
    100% {
      box-shadow: 0 0 10px #6cff5f; /* Vuelve al sombreado rosa neón al final */
    }
  }
  
  .Carrusel {
    width: 100%;
    display: flex;
    position: relative;
    animation: desplazamiento 10s linear infinite; /* Añadir desplazamiento automático */
  }
  
  .Slide {
    flex: 0 0 auto;
    width: 100%; 
  }
  
  .Carrusel-img {
    width: 100%;
    height: 500px;
  }
  

  @keyframes desplazamiento {
    0% {
      transform: translateX(0); /* Mantiene el primer slide visible al inicio */
    }
    20% {
      transform: translateX(0); /* Mantiene el primer slide visible */
    }
    25% {
      transform: translateX(-100%); /* Inicia la pausa después del primer slide */
    }
    45% {
      transform: translateX(-100%); /* Mantiene el segundo slide visible */
    }
    50% {
      transform: translateX(-200%); /* Inicia la pausa después del segundo slide */
    }
    70% {
      transform: translateX(-200%); /* Mantiene el tercer slide visible */
    }
    75% {
      transform: translateX(-300%); /* Inicia la pausa después del tercer slide */
    }
    100% {
      transform: translateX(-300%); /* Mantiene el cuarto slide visible al final */
    }
  }


  @media (max-width: 767px) {
    .Slider {
      margin: 0 auto;
      width: 650px;
      height: 250px;
      margin-bottom: 20px;
    }
    .Carrusel-img {
      width: 650px;
      height: 250px;
    }
  }


  @media (max-width: 600px) {
    .Slider {
      margin: 0 auto;
      width: 100%;
      height: 250px;
      margin-bottom: 20px;
    }
    .Carrusel-img {
      width: 100%;
      height: 250px;
    }
  }

  
  @media (max-width: 360px) {
    .Slider {
      margin: 0 auto;
      width: 300px;
      height: 250px;
      margin-bottom: 20px;
    }
    .Carrusel-img {
      width: 100%;
      height: 250px;
    }
  }

  @media (max-width: 300px) {
    .Slider {
      margin: 0 auto;
      width:99%;
      height: 250px;
      margin-left: 10px;
      
    }
    .Carrusel-img {
      width: 100%;
      height: 250px;
    }
  }
  
  