@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./img/pexels-codioful-7130557.jpg");
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #034e5c;
  font-weight: bold;
}

header {
  border: 1px solid orangered;
  margin-top: 5px;
  background: linear-gradient(rgba(243, 210, 212, 0.795), rgba(252, 243, 213, 0.37));
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(241, 147, 58, 0.76);
  -webkit-backdrop-filter: blur(3.1px);
          backdrop-filter: blur(3.1px);
}

.Container {
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid grey;
  margin-top: 10px;
  background: radial-gradient(circle, #FFFFFF, #E0FFFF, #FFE4E1);
  border-radius: 20px;
  padding: 20px;
}

.Container-sm {
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid rgb(223, 236, 164);
  margin-top: 10px;
  background: radial-gradient(circle, #f5efbe, #a9e6e6, #f5beb8);
  border-radius: 20px;
  padding: 20px;
}

h1 {
  background-image: linear-gradient(135deg, #e99904, #FF0000, #61540d);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.Nav {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Nav-logo .Logo {
  border-radius: 10px;
  width: 30px;
  height: 20px;
  background-image: url("./img/Logo.png"); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  padding: 20px;
}
.Nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.Nav-list .Nav-item {
  padding: 10px;
}
.Nav-list .Nav-item .Nav-link {
  border: 1px solid rgba(255, 255, 255, 0.247);
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  color: #034e5c;
  transition: all 0.3s ease-in;
}
.Nav-list .Nav-item .Nav-link .Nav-img {
  width: 15px;
  margin-right: 5px;
}
.Nav-list .Nav-item .Nav-link:hover {
  background: linear-gradient(rgba(241, 226, 136, 0.322), rgba(148, 206, 110, 0.37));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3.1px);
          backdrop-filter: blur(3.1px);
  color: rgb(211, 49, 0);
}
.Nav-list .Nav-item .Nav--active {
  background: linear-gradient(rgba(241, 226, 136, 0.322), rgba(148, 206, 110, 0.37));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3.1px);
          backdrop-filter: blur(3.1px);
  color: rgb(211, 49, 0);
}
.Nav-button .btn {
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #FFA500, #FF7F00);
  color: white;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.Nav-button .btn:hover {
  background: linear-gradient(135deg, #FF0000, #FF00FF);
}

/*Responsive max-width */
@media (max-width: 880px) {
  .Container {
    margin: 0 auto;
  }
  .Container-sm {
    margin: 0 auto;
  }
  .Nav {
    justify-content: space-between;
  }
  .Nav-list {
    display: none;
  }
  .Header {
    margin: 20px;
  }
}
/*Responsive  min-Width*/
@media (min-width: 1500px) {
  .Nav {
    margin: 0 auto;
  }
  .Slider {
    margin: 0 auto;
  }
  .Container {
    margin: 0 auto;
  }
  .Container-sm {
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  .Container {
    margin: 0 auto;
    width: 330px;
    margin-bottom: 20px;
  }
  .Container-sm {
    margin: 0 auto;
    width: 330px;
    margin-bottom: 20px;
  }
  .Nav {
    justify-content: space-between;
  }
  .Nav-list {
    display: none;
  }
  .Header {
    margin: 20px;
  }
}
.Slider {
  margin-left: 100px;
  margin-right: 100px;
  height: 500px;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
  border: 2px solid white;
  animation: cambioColores 5s ease infinite alternate;
}

@keyframes cambioColores {
  0% {
    box-shadow: 0 0 10px #ff00ff; /* Inicia con sombreado rosa neón */
  }
  50% {
    box-shadow: 0 0 10px #00ffff; /* Cambia a sombreado cian neón a la mitad */
  }
  100% {
    box-shadow: 0 0 10px #6cff5f; /* Vuelve al sombreado rosa neón al final */
  }
}
.Carrusel {
  width: 100%;
  display: flex;
  position: relative;
  animation: desplazamiento 10s linear infinite; /* Añadir desplazamiento automático */
}

.Slide {
  flex: 0 0 auto;
  width: 100%;
}

.Carrusel-img {
  width: 100%;
  height: 500px;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(0); /* Mantiene el primer slide visible al inicio */
  }
  20% {
    transform: translateX(0); /* Mantiene el primer slide visible */
  }
  25% {
    transform: translateX(-100%); /* Inicia la pausa después del primer slide */
  }
  45% {
    transform: translateX(-100%); /* Mantiene el segundo slide visible */
  }
  50% {
    transform: translateX(-200%); /* Inicia la pausa después del segundo slide */
  }
  70% {
    transform: translateX(-200%); /* Mantiene el tercer slide visible */
  }
  75% {
    transform: translateX(-300%); /* Inicia la pausa después del tercer slide */
  }
  100% {
    transform: translateX(-300%); /* Mantiene el cuarto slide visible al final */
  }
}
@media (max-width: 767px) {
  .Slider {
    margin: 0 auto;
    width: 650px;
    height: 250px;
    margin-bottom: 20px;
  }
  .Carrusel-img {
    width: 650px;
    height: 250px;
  }
}
@media (max-width: 600px) {
  .Slider {
    margin: 0 auto;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }
  .Carrusel-img {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 360px) {
  .Slider {
    margin: 0 auto;
    width: 300px;
    height: 250px;
    margin-bottom: 20px;
  }
  .Carrusel-img {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 300px) {
  .Slider {
    margin: 0 auto;
    width: 99%;
    height: 250px;
    margin-left: 10px;
  }
  .Carrusel-img {
    width: 100%;
    height: 250px;
  }
}
.Container-tittle {
  background: linear-gradient(135deg, #808080, #4682B4, #696969);
  background-clip: text;
  -webkit-background-clip: text; /* Para navegadores basados en WebKit */
  color: transparent;
  text-align: center;
}

.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Card-item {
  background: linear-gradient(rgba(255, 255, 255, 0.322), rgba(236, 236, 236, 0.37));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 300px;
  transition: box-shadow 0.2s ease-in;
}
.Card-item .Card-body {
  border: 2px solid rgb(116, 176, 250);
  box-shadow: 0px 0px 5px 2px #b8cbdb;
  border-radius: 5px;
  color: rgb(53, 61, 77);
}
.Card-item .Card-body .Card-header .Card-img {
  width: 100%;
  height: 150px;
  background-color: rgb(75, 255, 253);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 5px;
}
.Card-item .Card-body .Card-content {
  padding: 20px;
}
.Card-item .Card-body .Card-content h2 {
  margin-bottom: 10px;
}
.Card-item .Card-body .Card-content span {
  font-weight: normal;
}
.Card-item-item:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/*Responsive min-width*/
@media (min-width: 767px) {
  .Container {
    margin-bottom: 10px;
    width: 87%;
    margin-top: 10px;
  }
  .Container-sm {
    margin-bottom: 10px;
    width: 87%;
    margin-top: 10px;
  }
}
@media (min-width: 1570px) {
  .Card {
    width: 1000px;
    margin: 0 auto;
  }
  .Header {
    width: 87%;
    margin: 0 auto;
  }
  .Slider {
    width: 87%;
    margin: 0 auto;
    margin-top: 20px;
  }
}/*# sourceMappingURL=styles.css.map */